@model RolesSiteMVC.Models.Music

@{
    ViewData["Title"] = "Create";
    List<Author> authors =(List<Author>) ViewData["Authors"];
}

<h1>Create</h1>

<h4>Music</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SongsText" class="control-label"></label>
                <input asp-for="SongsText" class="form-control" />
                <span asp-validation-for="SongsText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <select asp-for="AuthorID" class ="form-control" asp-items="ViewBag.AuthorID"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var author in authors)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.Name</td>
            </tr>
        }
    </tbody>
</table>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
